body {
    font-family: 'Montserrat', sans-serif;
    width:100%;
    background-color: #26293c;
    height: auto;
    min-width: 600px;
    max-width:2500px;
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
}

.email,.github, .facebook {
    float: left;
    padding-left: 120px;
}


/**********Animation Code**********/

@keyframes e-mail {
    0% {top: 0px;}
    25% {top: 20px;}
    50% {top: 50px;}
    100% {top: 100px;}
}
.email {
    position: relative;
    animation-name: e-mail;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

@keyframes github {
    0% {top: 0px;}
    25% {top: 50px;}
    50% {top: 100px;}
    100% {top:250px;}

}

.github {
    position: relative;
    animation-name: github;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes facebook {
    0% {top: 0px;}
    25% {top: 100px;}
    50% {top: 230px;}
    100% {top: 400px;}
}

.facebook {
    position: relative;
    animation-name: facebook;
    animation-delay: 4s;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

/***********FOOTER********/
#color {
    color: #ffffff;
}
footer {
    font-family: 'Montserrat', sans-serif;
    clear: left;
    padding-left: 50px;
    padding-top: 450px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

footer a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 900;
    color:#db2a65;
    text-transform: lowercase;
    padding-left: 20px;
    
    
}

span {
    padding-left: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    color:#ffffff;
    font-size: 18px;
}
