/********General Style****/
.full-width {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin:10px 20px 0px 20px;
    box-sizing: border-box;   
}

.half-width {
    font-family: 'Montserrat', sans-serif;
    width: 45%;
    float: left;
    margin: 0px 20px 0px 20px;
    box-sizing: border-box;
   
}
body {
    width: 100%;
    background-color: #26293c;
    height: auto;
    min-width: 600px;
    max-width: 2500px;
    margin: 0 auto;
    padding:0;
}

/****Top Section***/
h4 {
    font-weight: 900;
    font-size: 22px;
    color: #ffffff;
    padding-left: 20px;
    text-transform: lowercase;
}

#second-line {
    padding-left:30px;
}

#third-line {
    padding-left: 30px;
}

/**********TextAbout****/

.skills {
    font-size: 35px;
    text-align: left;
    font-weight: 900;
    text-transform: lowercase;
    color: #db2a65;
    margin: 0px 20px 0px 20px;
    padding: 20px;
    line-height:75px;
    letter-spacing: .5px;
    box-sizing: border-box;
}
.text {
    font-size: 13.5px;
    color: #ffffff;
    text-align: center;
    text-transform: lowercase;
    padding-top: 45px;
    box-sizing: border-box;
}

#whitman {
    font-family: 'Wisdom Script';
    text-decoration: small-caps;
    color: #db2a65;
    font-weight: 700;
 }






/*****Footer****/
footer {
    clear:left;
    margin:20px 20px 20px 20px;
    padding-top: 50px;
    box-sizing: border-box;
}

footer a {
    text-decoration: none;
    color: #db2a65;
    font-size: 12px;
    font-weight:900;
    padding-left: 20px;
    text-transform: lowercase;
}