/********Basic Styles******/

section {
    width: 100%;
    margin-left: 90px;
    box-sizing: border-box;
}
.third-width {
    width: 570px;
    height: 282px;
    padding-top: 20px;
    margin: 20px;
    float: left;
    box-sizing: border-box;

}
body {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #db2a65;
    background-color: #26293c;
    height: auto;
    min-width: 600px;
    max-width: 2500px;
    margin: 0 auto;
    padding:0;
}

#rogue, #rogue-text {
    margin-bottom:25px;
}

/********Project Description Styles********/
#advice-text h3, #jubilee-text h3, #rogue-text h3 {
    font-weight: 900;
    font-size: 25px;
    text-transform: lowercase;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
}

#advice-text span, #jubilee-text span, #rogue-text span {
    font-family: "wisdom Script";
    text-decoration: small-caps;
    color: #ffffff;
}

#advice-text p, #jubilee-text p, #rogue-text p {
    box-sizing: border-box;
    width:540px;
    padding:20px;
    line-height: 30px;
}


/******Project Description Typewriter Effect****/

@keyframes typewriter-advice {
    from {width:0%}
    to {width:100%}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#26293c; }
  }


#typewriter-advice {
    overflow: hidden;
    border-right: 0.2px solid #26293c; /* The typwriter cursor */
    white-space: nowrap;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    padding: 5px;
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typewriter-advice 5.5s steps(40, end),
      blink-caret .75s step-end 5s;
}
@keyframes typewriter-jubilee {
    from {width:0%}
    to {width:100%}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#26293c; }
  }

#typewriter-jubilee {
    overflow: hidden;
    border-right: 0.2px solid #26293c; /* The typwriter cursor */
    white-space: nowrap;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    padding: 11px;
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typewriter-advice 5.5s steps(40, end),
      blink-caret .75s step-end 5s;
      animation-delay: 5s;
}

@keyframes typewriter-rogue {
    from {width:0%}
    to {width:100%}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#26293c; }
  }

#typewriter-rogue {
    overflow: hidden;
    border-right: 0.2px solid #26293c; /* The typwriter cursor */
    white-space: nowrap;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    padding: 5px;
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typewriter-advice 5.5s steps(40, end),
      blink-caret .75s step-end 5s;
      animation-delay: 11s;
}

/********FOOTER********/
footer {
    clear: left;
    font-size: 12px;
    margin:0px;
    padding: 10px 0px 20px 50px;
    
}

footer a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 12px;
    text-transform: lowercase;

}
